.about-container{
    background: url(../images/about-bg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    .about{
       display: table;
    }
    .profile{
        @include grid-column(12);
        padding:50px 0 50px 12%;
        text-align: center;
        .author{
            font-family: 'open_sansbold';
            font-size: rem-calc(20);
            margin-bottom: 0;
        }
    }
    .profile-info{
        @include grid-column(12);
        background-color: rgba(0, 0, 0, 0.5);
        padding:50px 12% 50px 20px;
    }
    .button{
        padding: rem-calc(12);
        &.hire{
            margin-right: rem-calc(15);
        }
    }
}


@media #{$medium-up} { 
    .about-container{
       .profile{
            @include grid-column(6);
            padding:50px 0 50px 12%;
        }
       .profile-info{
            @include grid-column(6);
            padding:50px 12% 50px 20px;
       }
    }
}

@media #{$small-only} {
     .about-container{
       .profile{
           padding:50px 0 50px 0;
        }
       .profile-info{
            padding:50px 10px 50px 10px;
            text-align: center;
       }
    }
}