footer{
	.contact-bg{
		background:url(/images/contact-bg.jpg);
		background-size: cover;
		background-position:center;
		padding:50px 0;
	}
	.contact-container{
		@include grid-row();
		text-align: center;
		color: #fff;
		h2{
			span{
				color: #fff;
				border: 2px solid #fff;

			}

			margin-bottom: 50px;
		}
		.sub-heading{
			@include grid-column(12);
		}

	}
	.contact-form{
		@include grid-column(12);
		text-align: left;
		
		input[type=text], input[type=email], textarea{
			background:transparent;
			color: #fff;
			border: 2px solid #fff;
			padding: 15px;
			height: auto;
		}
		textarea{
			height: 215px;
		}
		.last-field{
			margin-bottom: 0;
			input{
				margin-bottom: 0;
			}
		}
		input[type="submit"]{
	         width: 100%;
	         background-color: #fff;
	         margin-bottom: 0;
	         color: #03a9f4;
	         border: 2px solid #fff;
	         padding: rem-calc(15) rem-calc(20);
	         text-transform: uppercase;
	         &:hover{
	         	background-color: transparent;
	         	color: #fff;
	         }
	    }
	    ::-webkit-input-placeholder {
		   color: #fff;
		}

		:-moz-placeholder {
		   color: #fff;  
		}

		::-moz-placeholder { 
		   color: #fff;  
		}

		:-ms-input-placeholder {  
		   color: #fff;  
		}

	}

	.contact-map{
		@include grid-column(12);
		#contact-map{
			height: 100%;
		}
	}

	.copyright-container{
		background-color: $primary-color;
		padding:20px;

	}
	.copyright{
		text-align: center;
		color: #fff;

		@include grid-row();
		p{
			@include grid-column(12);
			padding: 10px;
			margin:0;
			font-size: 12px;
		}
	}
}


@media #{$medium-up} { 
	footer{
		.contact-form{
			@include grid-column(5, $center:true);
		}
	}
}