footer{
	.contact-bg{
		background:url(/images/contact-bg.jpg);
		background-size: cover;
		background-position:center;
		padding:50px 0;
	}
	.contact-container{
		@include grid-row();
		text-align: center;
		color: #fff;
		h2{
			span{
				color: #fff;
				border: 2px solid #fff;

			}

			margin-bottom: 50px;
		}

	}
	.contact-form{
		@include grid-column(12);
		text-align: left;
		textarea{
			height: 215px;
		}
		.last-field{
			margin-bottom: 0;
			input{
				margin-bottom: 0;
			}
		}
		input[type="submit"]{
	         @include button($radius: 5px);
	         margin-bottom: 0;
	         padding: rem-calc(10) rem-calc(20);
	    }
	}

	.contact-map{
		@include grid-column(12);
		#contact-map{
			height: 100%;
		}
	}

	.copyright-container{
		background-color: $primary-color;
		padding:20px;

	}
	.copyright{
		text-align: center;
		color: #fff;

		@include grid-row();
		p{
			@include grid-column(12);
			padding: 10px;
			margin:0;
			font-size: 12px;
		}
	}
}


@media #{$medium-up} { 
	footer{
		.contact-map{
			@include grid-column(7);
		}
		.contact-form{
			@include grid-column(5);
		}
	}
}