.main-banner-container{
    background:url(/images/main-banner.jpg);
    background-size: cover;
    background-position:center;
    padding:50px 0;
    .main-banner{
        @include grid-row();
        text-align: center;
        color: #fff;
        position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

        h2{
            color: #fff;
            font-size: rem-calc(60);
            span{
                font-weight: bold;
            }
        }
        p{
            font-size: rem-calc(21);
        }
    }
    .banner-content{
        @include grid-column(12);
        padding-bottom:25px;
    }

    .move-down{
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        padding: 30px 13px 12px;

        &:before{
            margin-left: 0;
            margin-right: 0;
            font-size: rem-calc(40);
        }
    }
}

@media #{$medium-up}{
    .main-banner-container{
        .banner-content{
             @include grid-column(10, $center:true);
        }
    }
}

@media #{$small-only}{
    .main-banner-container{
        .main-banner{
            h2{
                font-size: rem-calc(40);
            }
        }
    }
}