.testimonial-container{
    @include grid-row();
    padding:50px 0;
    .testimonial{
             @include grid-column(12);
            text-align: center;
        .slick-slider{
            margin-top: 50px;
        }
        .author{
            font-style: italic;
            font-family: 'open_sansregular';
        }
        .rating{
            color: #ffd700;
        }
    }
    .slick-dots {
        margin-left:0;
            li button:before{
            font-size: 14px;
            }
    }
}


@media #{$medium-up}{
    .testimonial-container{
        .testimonial{
             @include grid-column(11, $center:true);
        }
    }
}

@media #{$small-only}{
    .testimonial-container{
        h2.heading{
            span{
                padding: 20px 20px;
            }
        }
    }
}